{% extends "base.html" %}
{% block content %}
<h1 class="hi">Добрый день, {{user.name}}!</h1>
<div class="main_cabinet">
    <h1>Разделы</h1>
    <div class="parts">

        <div class="row">
            <div class="col">
                <div class="image first"></div>
                <div class="text">Расписание</div> 
            </div>
            <div class="col">
                <div class="image second"></div>
                <div class="text">Сделать пропуск</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image third"></div>
                <div class="text">Записаться к врачу</div>
            </div>
            <div class="col">
                <div class="image fourth"></div>
                <div class="text">Советы докторов</div>
            </div>
        </div>

</div>

<script>
    links = [
        '/timesheet' , 
        '/takepass',
        '/doctor',
        '/advice'
    ]
    elems = document.querySelectorAll('.parts .col')
    console.log(elems) 
    for (let i=0 ; i<links.length ; i++ ){
        elems[i].addEventListener('click', function () {
            window.location.href = links[i];
            });
    }
</script>

{% endblock %}